version: '3.8'

services:
  postgres:
    image: postgres:18-alpine
    container_name: spring_security_auth
    environment:
      POSTGRES_DB: spring_auth_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: changemeinprod!
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data: